In [70]:
import pandas as pd

In [71]:
from sklearn.feature_extraction.text import TfidfVectorizer

from sklearn.metrics.pairwise import linear_kernel

In [72]:
df=pd.read_csv('sample-data.csv')

#  Dataset berisi item pada e-commerce

In [73]:
df.head()

   id                                        description
0   1  Active classic boxers - There's a reason why o...
1   2  Active sport boxer briefs - Skinning up Glory ...
2   3  Active sport briefs - These superbreathable no...
3   4  Alpine guide pants - Skin in, climb ice, switc...
4   5  Alpine wind jkt - On high ridges, steep ice an...

In [74]:
df.shape

(500, 2)

In [75]:
tf=TfidfVectorizer(analyzer='word', ngram_range=(1, 3), min_df=2, stop_words='english')

In [76]:
tfidf_matrix = tf.fit_transform(df['description'])

# Menghitung similarity dengan linear_kernel

In [77]:
similarities = linear_kernel(tfidf_matrix, tfidf_matrix)
similarities_df = pd.DataFrame(similarities)
similarities_df.head()

,0,1,2,3,4,5,6,7,8,9,...,490,491,492,493,494,495,496,497,498,499
0,1.000000,0.196118,0.121321,0.086417,0.068012,0.088305,0.078842,0.050725,0.128312,0.048336,...,0.092937,0.066059,0.092737,0.293950,0.278143,0.233109,0.188449,0.121974,0.125661,0.133845
1,0.196118,1.000000,0.695617,0.077343,0.077285,0.073488,0.080167,0.044179,0.064716,0.049612,...,0.073215,0.048985,0.080057,0.174481,0.128445,0.112176,0.078285,0.063170,0.118427,0.110925
2,0.121321,0.695617,1.000000,0.068405,0.081629,0.079271,0.089965,0.080852,0.073424,0.077773,...,0.069200,0.049786,0.071394,0.121983,0.189902,0.088524,0.082306,0.058370,0.074918,0.083148
3,0.086417,0.077343,0.068405,1.000000,0.108530,0.156714,0.098313,0.036936,0.081906,0.062901,...,0.054098,0.039758,0.055814,0.083025,0.069978,0.076900,0.058112,0.106214,0.066971,0.082256
4,0.068012,0.077285,0.081629,0.108530,1.000000,0.162394,0.113159,0.034384,0.073478,0.079233,...,0.045383,0.032701,0.054805,0.061714,0.060014,0.061122,0.069141,0.146984,0.055967,0.072030

In [78]:
results = {}

In [79]:
for idx, row in df.iterrows():
    similar_indices = similarities[idx].argsort()[:-100:-1]
    similar_items = [(similarities[idx][i], df['id'][i]) for i in similar_indices]

    # Hapus dari sendiri dari list
    results[row['id']] = similar_items[1:]

In [80]:
print('Training Selesai!')

Training Selesai!

In [81]:
def item(id):
    return df.loc[df['id'] == id]['description'].tolist()[0].split(' - ')[0]

In [82]:
def recommend(id, num):
    print("Daftar rekomendasi " + str(num) + " produk yang mirip dengan " + item(id) + "\n")
    recs = results[id][:num]
    for rec in recs:
        print(item(rec[1]) + " (score:" + str(rec[0]) + ")")

# By picking the product from the users search history we can find the recommended products using the item_id and the no of recommended results we desire by adjusting the num parameter

In [83]:
recommend(id=6, num=5)

Daftar rekomendasi 5 produk yang mirip dengan Ascensionist jkt

Guide jkt (score:0.4371855403015607)
Guide jkt (score:0.4254255141781973)
Microburst jkt (score:0.3254793520018468)
Rain shadow jkt (score:0.2575781874760667)
All-time shell (score:0.24663242083671605)